.container_new{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 60px;
    align-items: center;
    margin-top: 20px;
}
.button{
   height: 40px;
   width: 120px;
   margin-left: 50px;
   margin-right: 30px;
   font-size: 22px;
   background-color: #ffffff;
   color: rgb(0, 0, 0);
   border-radius: 8px;
   border: none;
}
.button:hover{
    transition: .1s;
    border: 3px solid blue;
    background-color: transparent;
    color:white
}
.input_text{
    height: 35px;
    width: 300px;
    font-size: 30px;
}
.input_text::placeholder{
    font-size: 20px;
    font-weight: 500;
}